* {
    box-sizing: border-box;
}

.index-background {
    background-color: rgb(30, 39, 62);
}

div {
    margin: 30px auto;    
    width: 800px;
    background-color: rgba(48, 66, 102, 0.468);
    padding: 15px 30px;
    border: white solid 1px;

}

.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 50px;
    border-bottom: white solid 5px;
}

ul,
ol {
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}

.index-list {
    margin-bottom: 10px;
    font-size: 24px;
    color: white;
}

a,
a:visited {
    color: white;
}

h1 {
    text-align: center;
    font-weight: 700;
}

.garfield {
    background-color: orangered;
    color: bisque;
    font-family: 'Times New Roman', Times, serif;
}

.sponge {
    color: #a3c068;
    background-color: #fff31d;
    outline-color: brown;
    outline-width: 2px;
    outline-style: groove;
    font-family: monospace;
}

.kelp {
    background-color: #a1e41b;
    color: crimson;
    outline-color: black;
    outline-style: groove;
    outline-width: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

strong {
    color: rgb(255, 55, 55);
    font-family: 'Brush Script MT', 'cursive';
    font-size: larger;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}